<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>spring-mvc-async</display-name>
    <!-- The context params that are read by ContextLoaderListener -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/spring-mvc-async-servlet.xml
            /WEB-INF/jmx-console-security-servlet.xml
        </param-value>
    </context-param>
    <!--Securing the JMX console-->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
    <!-- Added to view/update JMX MBeans  -->
    <servlet>
        <servlet-name>JmxMiniConsoleServlet</servlet-name>
        <servlet-class>org.jminix.console.servlet.MiniConsoleServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JmxMiniConsoleServlet</servlet-name>
        <url-pattern>/jmx/*</url-pattern>
    </servlet-mapping>


	<servlet>
		<servlet-name>spring-mvc-async</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>spring-mvc-async</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
</web-app>
